<body>



<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Пропуска МосПолитеха</h1>
        <p class="lead text-muted">Сервис для заказа пропусков на территорию Московского Политеха</p>
        <p>
          <a routerLink="verify-pass" class="btn btn-secondary my-2">Проверить пропуск</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">

    <h1 class="text-center">Этапы заказа пропуска</h1>
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">


            <div class="card-body">
              <p class="card-text">1. Позвоните в дирекцию. Человек, которому требуется пропуск на проход в определенную локацию Московского Политеха должен позвонить в нужную для него дирекцию и заказать пропуск</p>
              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">1/3</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">


            <div class="card-body">
              <p class="card-text">2. Заказ пропуска через сервис. Сотрудник Московского Политеха, согласно внутренним правилам, при возможности допустить человека на локацию, заказывает пропуск, через сервис.</p>
              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">2/3</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

            <div class="card-body">
              <p class="card-text">3. Получить пропуск. Сотрудник бюро пропусков, после необходимых проверок, согласно внутренним правилам учебного заведения, выпускает пропск и выдает его человеку</p>
              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">3/3</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>



