<div class="container">

    <h3 class="p-4 text-center">Управление пользователями системы <a class="btn btn-secondary" (click)="openModal(createperson)">Создать</a></h3>

  <div class="pages">
    <tabset>
      <tab heading="Активированные аккаунты" id="tab1">

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Фамилия Имя Отчество</th>
              <th scope="col">Тип</th>
              <th scope="col">Отдел</th>
              <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{user.surname}} {{user.name}} {{user.lastname}}</td>
              <td *ngIf="user.role === 'worker'">Сотрудник</td>
              <td *ngIf="user.role === 'bureau'">Бюро пропусков</td>
              <td *ngIf="user.role === 'admin'">Администратор</td>
              <td>{{user.department}}</td>
              <td style="text-align: center" (click)="openUserModal(user,openuser)"><a class="btn">&#9881;</a></td>
            </tr>
            </tbody>
          </table>
        </div>


      </tab>

      <tab heading="Заблокированные аккаунты" *disabled>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Фамилия Имя Отчество</th>
              <th scope="col">Тип</th>
              <th scope="col">Отдел</th>
              <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">2</th>
              <td>{{user.surname}} {{user.name}} {{user.lastname}}</td>
              <td>{{user.type}}</td>
              <td>{{user.department}}</td>
              <td style="text-align: center" (click)="openUserModal(user, openuser)"><a class="btn">&#9881;</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabset>
  </div>


  <ng-template #createperson>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Создание пользователя</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-new-user></app-new-user>
    </div>
  </ng-template>

<!--  <ng-template #createcar>-->
<!--    <div class="modal-header">-->
<!--      <h4 class="modal-title pull-left">Создание пользователя</h4>-->
<!--      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">-->
<!--        <span aria-hidden="true" class="visually-hidden">&times;</span>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="modal-body">-->
<!--      <app-new-pass></app-new-pass>-->
<!--    </div>-->
<!--  </ng-template>-->

  <ng-template #openuser>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Управление пользователем</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container container-modal">
        <div class="print-user">

          <p>Карточка пользователя</p>

          <ul>
            <li>Ф.И.О: {{user.surname}} {{user.name}} {{user.lastname}}</li>
            <li *ngIf="user.role === 'worker'">Тип пользователя: Сотрудник</li>
            <li *ngIf="user.role === 'bureau'">Тип пользователя: Бюро пропусков</li>
            <li *ngIf="user.role === 'admin'">Тип пользователя: Администратор</li>
            <li>Отдел: {{user.department != null ? user.department : 'Не указано'}}</li>
          </ul>

          <hr>
          <ul>
            <li>Логин: {{user.login}}</li>
            <!--          <li>Пароль: {{user.password}}</li>-->
          </ul>

        </div>
<!--        <h5 class="text-center" *ngIf="openedpass === true">Выберите действие</h5>-->

      </div>
      <div class="d-grid gap-2 col-6 mx-auto" *ngIf="openedpass === true">
        <button class="btn btn-danger" type="button">Удалить аккаунт</button>
      </div>
    </div>
  </ng-template>

</div>
