


.brd {
  border: 4px double black; /* Параметры границы */
  padding: 10px; /* Поля вокруг текста */
  background-image: url(src/assets/images/polytech/print-logo.png);
  background-size: 250px;
  background-repeat: no-repeat;
  width: 370px;
  height: auto;
  margin: 0 auto;
  background-position: center;
  font-weight: bold;
}

@media screen and (max-width: 430px) {
  .brd {width: 350px}
}

@media screen and (max-width: 400px) {
  .brd {width: 320px;}
}

@media screen and (max-width: 365px) {
  .brd {width: 300px}
}

@media screen and (max-width: 320px) {
  .brd {width: 255px}
}



.brdcar {
  border: 4px double black; /* Параметры границы */
  padding: 10px; /* Поля вокруг текста */
  background-image: url(src/assets/images/polytech/print-logo.png);
  background-size: 250px;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  margin: 0 auto;
  background-position: center;
  font-weight: bold;

}


h1 {
  font-size: 800%;
}

.addinfo {

}

.mobile-text {
  text-align: center;
  list-style: none;
}
.mobile-text ul {
  list-style: none;
}

.right {
  float: right;
}
