<div class="container" *ngIf="type === 0">
  <h3 class="text-center p-3">Пропуск №878787</h3>

  <div class="brd">
    <h4 class="text-center">Московский Политех</h4>
    <p class="text-center">Пропуск на территорию университета</p>
    <ul>
      <li>Уникальный номер пропуска: 878787</li>
    </ul>

    <ul>
      <li>Фамилия: Иванов</li>
      <li>Имя: Григорий</li>
      <li>Отчество: Александрович</li>
      <li>Серия и номер паспорта: 45 25 115577</li>
    </ul>

    <ul>
      <li>Следует в аудиторию: Н516</li>
    </ul>

    <ul>
      <li>Действует с: 07.12.2021</li>
      <li>Действует до: 07.12.2021</li>
    </ul>

    <ul>
      <li>Выдан: Деканат по работе с мигрантами</li>
    </ul>
    <p class="text-center">Статус пропуска: <b style="color: green;">Действителен</b></p>
  </div>


</div>


  <div class="brdcar" *ngIf="type === 1">
    <p style="font-weight: lighter; text-align: center; font-size: 80%" >В режиме просмотра пропуска печать не доступна</p>

    <h3 class="text-center p-3">Пропуск №878787</h3>

    <div class="mobile-text">
      <ul>
        <li>Номер автомобиля: <b>М573ЕХ799</b></li>
        <li>Разрешенные локации: <b style="border: 4px double black; margin-left: 2px;">БС</b> <b style="border: 4px double black; margin-left: 2px;">ПК</b></li>
      </ul>

      <ul>
        <li>Сотрудник: Гайдучик Александр Валерьевич</li>
      </ul>

      <ul>
        <li>Действует с: 07.12.2021</li>
        <li>Действует до: 07.12.2021</li>
      </ul>

      <ul>
        <li>Выдан: Деканат по работе с мигрантами</li>
      </ul>
     </div>

  <p class="text-center">Статус пропуска: <b style="color: green;">Действителен</b></p>
</div>

