<div class="container" *ngIf="type === 0">
  <div class="print-brdcar">
    <div class="brd">
      <h4 class="text-center">Московский Политех</h4>
      <p class="text-center">Пропуск на территорию университета</p>
      <ul>
        <li>Уникальный номер пропуска: {{pass.uniqueId}}</li>
      </ul>

      <ul>
        <li>Фамилия: {{pass.surname}}</li>
        <li>Имя: {{pass.name}}</li>
        <li>Отчество: {{pass.lastname}}</li>
        <li>Серия и номер паспорта: {{pass.passport}}</li>
      </ul>

      <ul>
        <li>Следует в аудиторию: {{pass.goingTo}}</li>
      </ul>

      <ul>
        <li>Действует с: {{pass.date | date: 'dd.MM.YYYY'}}</li>
        <li>Действует до: {{pass.endDate | date: 'dd.MM.YYYY'}}</li>
      </ul>

<!--      <ul>-->
<!--        <li>Выдан: Деканат по работе с мигрантами</li>-->
<!--      </ul>-->
<!--      <p class="text-center">Статус пропуска: <b style="color: green;">Действителен</b></p>-->
    </div>
  </div>
</div>


<div class="container" *ngIf="(type === 1)" >
  <div class="print-brdcar">
    <div class="brdcar">
      <h4 class="text-center" style="font-size: 400%">Московский Политех</h4>
      <p class="text-center"style="font-size: 150%">Пропуск автомобиля на территорию университета</p>
      <p class="text-center"style="font-size: 150%">Разрешенные локации:
        <b  *ngIf="avalibleLocs.bs === 1" style="border: 4px double black; margin-left: 2px;">БС</b>
        <b *ngIf="avalibleLocs.pk === 1" style="border: 4px double black; margin-left: 2px;">ПК</b>
        <b *ngIf="avalibleLocs.pr === 1" style="border: 4px double black; margin-left: 2px;">ПР</b>
        <b *ngIf="avalibleLocs.av === 1" style="border: 4px double black; margin-left: 2px;">АВ</b>
      </p>

      <h1 class="text-center">{{pass.carPlate}}</h1>
      <p class="text-center" style="font-size: 150%">Уникальный номер пропуска: {{pass.uniqueId}}</p>

      <div class="row">
        <div class="col">
          <ul>
            <li>Действует с: {{pass.date | date: 'dd.MM.YYYY'}}</li>
            <li>Действует до: {{pass.endDate | date: 'dd.MM.YYYY'}}</li>
          </ul>

<!--          <ul>-->
<!--            <li>Выдан: Деканат по работе с мигрантами</li>-->
<!--          </ul>-->
        </div>

        <div class="col right">
          <qrcode [qrdata]="'http://'+ '192.168.31.146:4200' + '/verify-pass/id/' + pass._id" [width]="128" [errorCorrectionLevel]="'M'" style="float: right;"></qrcode>
        </div>
      </div>

    </div>
  </div>


</div>



<button class="btn btn-secondary" type="button" (click)="htmlPDF()" style="width: 233px;">Распечатать пропуск</button>

