<header class="no-print">
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">О сервисе</h4>
          <p class="text-muted">Данный сервис упрощает выпуск пропусков для доступа на территорию Московского Политеха. Так же, с помощью этого сервиса можно проверить пропуск на действительность.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Меню</h4>
          <ul class="list-unstyled">
            <li><a *ngIf="!lc.authState" routerLink="login" class="text-white">Войти в аккаунт</a></li>
            <li><a *ngIf="lc.authState" class="text-white" (click)="backCabinet()">Личный кабинет</a></li>
            <li><a *ngIf="lc.authState" routerLink="login" (click)="exitAccount()" class="text-white">Выйти из аккаунта</a></li>
            <li><a href="https://mospolytech.ru/" class="text-white">Сайт Московского Политеха</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a routerLink="" class="navbar-brand d-flex align-items-center">
        <strong>АИС "Пропуск"</strong>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
